[submodule "vimfiles/bundle/SimpylFold"]
	path = vimfiles/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vimfiles/bundle/vim-autoclose"]
	path = vimfiles/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
